<div class="row">
    <div class="admin-navbar">
        <ul class="admin-navlinks">
            
            <li class="admin-child">
                <a href="/admin/uyeler">
                    <span>Üyeler</span>
                </a>
            </li>
            <li class="admin-child">
                <a href="/admin/contact">
                    <span>İletişim Bilgileri</span>
                </a>
            </li>

        </ul>
    </div>
</div>