<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>senindepon.com</title>
    <!-- JQuery  CDM -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
   
    
    <!-- OWL CAROUSEL CSS -->
    <link rel="stylesheet" href="/lib/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/lib/owl-carousel//owl.theme.default.min.css">
    <!--Css Bağlantısı-->
    <link rel="stylesheet" href="/styles.css">
       
    
     <!--Font Awesome-->
     <script src="https://kit.fontawesome.com/70b608e8fd.js" crossorigin="anonymous"></script>
    
    <!-- Google Font :Noto Sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap" rel="stylesheet">
</head>
<body>