
        <main>
            <div class="container-main">
                <div class="container-bk">
                    <div class="header">
                        <h1>BİZ KİMİZ?</h1>                
                    </div>
                    <div class="row-bk">

                        <img src="images/İstanbul Depolama Firması.jfif" alt="senindepon.com" class="pull-left  mar-r-15 mar-b-15">
                        <p class="mar-t-45">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, sunt totam tempora laborum eius necessitatibus dignissimos fugit quibusdam dolorum vero animi quia ipsam vel non sint placeat autem nesciunt voluptas a ad saepe mollitia, corporis, qui iusto? Ad praesentium natus iure culpa, veniam magni cumque ullam, vitae recusandae voluptate est.
                        </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, voluptas iste. Nisi iusto recusandae consectetur molestiae cumque, minima maxime! Molestias, omnis similique laboriosam tempore voluptatibus quae exercitationem itaque! Fugit libero qui cum dignissimos, hic illum ullam molestias dolores sed distinctio repudiandae voluptates! Assumenda quia ea vitae officia amet. Minus, voluptate?
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quam eveniet quia recusandae aspernatur! Minus doloribus voluptatibus sunt! Iure voluptatibus voluptatem deleniti, ipsam suscipit dolore libero delectus neque explicabo eius labore perspiciatis ratione dignissimos, consequuntur error voluptatum dolores quis nisi laudantium! Aliquam adipisci maiores odit temporibus dolore ea maxime. Quam?                            <p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quam eveniet quia recusandae aspernatur! Minus doloribus voluptatibus sunt! Iure voluptatibus voluptatem deleniti, ipsam suscipit dolore libero delectus neque explicabo eius labore perspiciatis ratione dignissimos, consequuntur error voluptatum dolores quis nisi laudantium! Aliquam adipisci maiores odit temporibus dolore ea maxime. Quam?                            <p>
                                    
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore pariatur fuga reprehenderit ipsa exercitationem et quae cupiditate quas impedit. Accusamus. </p>
                            <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, aut atque repellat modi recusandae debitis labore exercitationem ex consequatur nostrum. </p>
    
                    </div>
                    

                </div>
               
            </div>
        </main>
