<main>
            <div class="container-main">
                <div class="header">
                    <h1>Büyük Depo</h1>
                    <p>225 TL + KDV / AY</p>
                </div>
                <div class="row-warehouse-pacs">
                    <div class="image-sd">
                        <img src="images/paketler/standart-depo.jpg" alt="büyük depo" style="width: 345px; height: auto;margin-top: 2rem;">
                    </div>
                    <div class="explanation">
                        <h2 class="text-primary mar-v-10">Büyük Depo</h2>
                        <p>Büyük depo 6.24 m<sup>3</sup>  hacmi ile çok sayıda eşyayı depolayabileceğiniz, boyutlarına göre ucuz ve pratik depolama çözümüdür. 2 metre uzunluğunda veya 1.56 metre genişliğinde eşyalar sığabilmektedir</p>
                        <div class="info-item">
                            <div class="info-content">
                                <h3 class="font-md">Büyük Depo BOYUTLARI</h3>
                                <div class="row">
                                    <div class="col">Derinlik</div>
                                    <div class="col">: 2 m</div>
                                </div>
                                <div class="row">
                                    <div class="col">Genişlik</div>
                                    <div class="col">: 1.56 m</div>
                                </div>
                                <div class="row">
                                    <div class="col">Yükseklik</div>
                                    <div class="col">: 2 m</div>
                                </div>
                                <div class="row">
                                    <div class="col">Hacim</div>
                                    <div class="col">: 6.24m<sup>3</sup> </div>
                                </div>
                            </div> 
                        </div>    
                             
                    </div>
                </div>
                <div class="row-warehouse-pacs reverse-div">
                    <div class="explanation">
                        <h3 class="font-xxxlg text-primary ">NELER SIĞAR</h3>
                        <p>Büyük depolama ünitesinin içine neler sığar?</p>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">YAŞAM ALANLARI</h4>
                                <p class="filigran">Yatak, dolap, kanepe gibi hacmi olan eşyalar</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">GARAJ</h4>
                                <p class="filigran">60 adet binek araç lastiği</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">MUTFAK</h4>
                                <p class="filigran">70x65x200 cm boyutlarında ve 0.91 m³ hacminde 6 adet buzdolabı</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">GENEL</h4>
                                <p class="filigran">60x40x40 cm boyutlarında ve 0,096 m³ hacminde 50 adet koli</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">BANYO</h4>
                                <p class="filigran">60x60x90 cm boyutlarında ve 0.32 m³ hacminde 12 adet çamaşır makinesi</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">KOLAJ</h4>
                                <p class="filigran">1 adet çamaşır makinesi + 1 adet buzdolabı
                                     + 1 adet fırın + 1 adet bulaşık makinesi + 1 adet 2 kişilik yatak + 13 adet koli sığabilir.</p>
                            </div>
                        </div>
                    </div>
                    <div class="image-sd">
                        <img src="images/paketler/standart-depo.jpg" alt="standart depo" style="width: 100%; height: auto;margin-top: 4rem;">
                    </div>
                </div>
            </div>
        </main>