
        <main>
            <div class="row">
                             <!-- Slideshow container -->
            <div class="slideshow-container">

                <!-- Full-width images with number and caption text -->
                <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="images/İstanbul Depolama Firması.jfif" style="width:100%">
                </div>
            
                <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="images/esya.JPG" style="width:100%">
                </div>
            
                <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="images/esyadepolama.jpg" style="width:100%">
                </div>
            
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            
                <!-- The dots/circles -->
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>
            <div class="secondaryBox">
                <div class="title">
                    <span class="heading">3 ADIMDA EŞYALARINIZI DEPOLAYIN</span>
                </div>
                <div class="storageSteps">
                    <div class="step" id="step1">
                        <div class="box-image">
                            <img src="images/icons/contactus.png" alt="contact us" class="max-100" width="100px">
                        </div>
                        <div class="box-body">
                            <p style="margin: 0;">1Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, aliquid.</p>
                        </div>
                    </div>
                    <div class="step" id="step2">
                        <div class="box-image">
                            <img src="images/icons/contactus.png" alt="contact us" class="max-100" width="100px">
                        </div>
                        <div class="box-body">
                            <p style="margin: 0;">2Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, perspiciatis!</p>
                        </div>
                    </div>
                    <div class="step" id="step3">
                        <div class="box-image">
                            <img src="images/icons/contactus.png" alt="contact us" class="max-100" width="100px">
                        </div>
                        <div class="box-body">
                            <p style="margin: 0;">3Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, perspiciatis!</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="pacs">
                <div class="title">
                    <span class="heading">PAKETLERİMİZ</span>
                </div>
                <div class="flip-cards">
                        <!-- row1 -->
                    <div class="row">
                        <!-- flip-card-container -->
                        <div class="flip-card-container" style="--hue: 220">
                            <div class="flip-card">
                        
                            <div class="card-front">
                                <figure>
                                <div class="img-bg"></div>
                                <img src="images/esyadepolama.jpg" alt="Standart Depo">
                                <figcaption>Standart Depo</figcaption>
                                </figure>
                                <strong><p>125 TL + KDV</p></strong>
                                <a>AYLIK FİYAT</a>
                                <ul>
                                <li>1.00 x 2.00 x 1.56 m</li>
                                <li>3.12 m³ Depolama Hacmi</li>
                                <li>Ücretsiz Kontrol Paneli</li>
                                <li>Size Özel Kilit</li>
                                </ul>
                            </div>
                        
                            <div class="card-back">
                                <figure>
                                <div class="img-bg"></div>
                                <img src="images/İstanbul Depolama Firması.jfif" alt="Standart Depo">
                                </figure>
                        
                                <button>İncele</button>
                            </div>
                        
                            </div>
                        </div>
                        <!-- /flip-card-container -->
                        
                        <!-- flip-card-container -->
                        <div class="flip-card-container" style="--hue: 170">
                            <div class="flip-card">
                        
                            <div class="card-front">
                                <figure>
                                <div class="img-bg"></div>
                                <img src="images/esyadepolama.jpg" alt="Büyük Depo">
                                <figcaption>Büyük Depo</figcaption>
                                </figure>
                                <strong><p>225 TL + KDV</p></strong>
                                <a>AYLIK FİYAT</a>
                                <ul>
                                    <li>1.00 x 2.00 x 1.56 m</li>
                                    <li>3.12 m³ Depolama Hacmi</li>
                                    <li>Ücretsiz Kontrol Paneli</li>
                                    <li>Size Özel Kilit</li>
                                </ul>
                            </div>
                        
                            <div class="card-back">
                                <figure>
                                <div class="img-bg"></div>
                                <img src="images/esya.JPG" alt="XL Depo">
                                </figure>
                        
                                <button>İncele</button>
                            </div>
                        
                            </div>
                        </div>
                        <!-- /flip-card-container -->
                    </div>

                    <!-- row2 -->
                    <div class="row">
                            <!-- flip-card-container -->
                        <div class="flip-card-container" style="--hue: 350">
                            <div class="flip-card">
                        
                            <div class="card-front">
                                <figure>
                                <div class="img-bg"></div>
                                <img src="images/esyadepolama.jpg" alt="Büyük Depo">
                                <figcaption>Xl Depo</figcaption>
                                </figure>
                                <strong><p>275 TL + KDV</p></strong>
                                <a>AYLIK FİYAT</a>
                                <ul>
                                <li>Detail 1</li>
                                <li>Detail 2</li>
                                <li>Detail 3</li>
                                <li>Detail 4</li>
                                <li>Detail 5</li>
                                </ul>
                            </div>
                        
                            <div class="card-back">
                                <!-- only if the image is necessary -->
                                <figure>
                                <div class="img-bg"></div>
                                <img src="images/esya.JPG" alt="XL Depo">
                                </figure>
                        
                                <button>İncele</button>
                            </div>
                        
                            </div>
                        </div>
                        <div class="flip-card-container" style="--hue: 500">
                            <div class="flip-card">
                        
                            <div class="card-front">
                                <figure>
                                <div class="img-bg"></div>
                                <img src="images/esyadepolama.jpg" alt="Kurumsal Depo">
                                <figcaption>Kurumsal Depo</figcaption>
                                </figure>
                                <strong><p><i class="fa fa-phone" style="margin-right: 10px;"></i>444 4 444</p></strong>
                                <a>ÖZEL FİYAT</a>
                                <ul>
                                <li>Detail 1</li>
                                <li>Detail 2</li>
                                <li>Detail 3</li>
                                <li>Detail 4</li>
                                <li>Detail 5</li>
                                </ul>
                            </div>
                        
                            <div class="card-back">
                                <!-- only if the image is necessary -->
                                <figure>
                                <div class="img-bg"></div>
                                <img src="images/İstanbul Depolama Firması.jfif" alt="Kurumsal Depo">
                                </figure>
                        
                                <button>İncele</button>
                            </div>
                        
                            </div>
                        </div>
                        <!-- /flip-card-container -->
                    </div>
                </div>
                
            </div>
          <!--pacs class end-->
            <div class="warehouse">
                <div class="explanation" style="width:65%">
                    <div class="title"> <span class="heading">ipsum, dolor sit amet consectetur adipisicing elit. Veniam, iure!</span></div>
                    <p class="description">
                        <font style="vertical-align:inherit;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, perspiciatis? Exercitationem dolor quae inventore pariatur sed neque odio adipisci ea eaque sequi, ipsum consectetur facere numquam quidem, voluptate dicta laudantium iusto officia, aspernatur quis molestias perferendis tempora. Nostrum, debitis officia, tenetur quod voluptate ipsam corporis dolorum nihil nesciunt labore illum ipsum ad, dignissimos optio aliquam! Aliquid laboriosam accusamus, deserunt qui incidunt delectus tempora reiciendis excepturi, soluta quisquam iure explicabo. Delectus quasi error eligendi laborum blanditiis nostrum ea nesciunt ipsa quisquam, dicta distinctio maxime illo magni tempora. Exercitationem aliquam earum distinctio laboriosam amet quod, sequi, vero odit eaque ratione voluptates quis.</font>
                    </p>
                    <div class="benefits">
                        <div class="col">
                            <div class="media">
                                <div class="img">
                                    <img src="images/listing1.svg" class="img-fluid" alt="Biyometrik Sistem Erişimi" title="Biyometrik Sistem Erişimi">

                                </div>  
                            <div class="media-body">
                                <h3><font>Biyometrik Sistem Erişimi</font></h3>
                            </div>                              
                            </div>
                        </div>
                        <div class="col">
                            <div class="media">
                                <div class="img">
                                    <img src="images/listing2.svg" class="img-fluid" alt="Biyometrik Sistem Erişimi" title="Biyometrik Sistem Erişimi">

                                </div>  
                            <div class="media-body">
                                <h3><font>Sigorta Kapsamı</font></h3>
                            </div>                              
                            </div>
                        </div>
                        <div class="col">
                            <div class="media">
                                <div class="img">
                                    <img src="images/listing3.svg" class="img-fluid" alt="Biyometrik Sistem Erişimi" title="Biyometrik Sistem Erişimi">

                                </div>  
                            <div class="media-body">
                                <h3><font>Barkod Takip Sistemi</font></h3>
                            </div>                              
                            </div>
                        </div>
                        <div class="col">
                            <div class="media">
                                <div class="img">
                                    <img src="images/listing4.svg" class="img-fluid" alt="Biyometrik Sistem Erişimi" title="Biyometrik Sistem Erişimi">

                                </div>  
                            <div class="media-body">
                                <h3><font>Yangın Kontrolü</font></h3>
                            </div>                              
                            </div>
                        </div>
                        <div class="col">
                            <div class="media">
                                <div class="img">
                                    <img src="images/listing5.svg" class="img-fluid" alt="Biyometrik Sistem Erişimi" title="Biyometrik Sistem Erişimi">

                                </div>  
                            <div class="media-body">
                                <h3><font>Haşere Kontrolü</font></h3>
                            </div>                              
                            </div>
                        </div>
                        <div class="col">
                            <div class="media">
                                <div class="img">
                                    <img src="images/listing6.svg" class="img-fluid" alt="Biyometrik Sistem Erişimi" title="Biyometrik Sistem Erişimi">

                                </div>  
                            <div class="media-body">
                                <h3><font>CCTV İzleme</font></h3>
                            </div>                              
                            </div>
                        </div>
                        <div class="col">
                            <div class="media">
                                <div class="img">
                                    <img src="images/listing7.svg" class="img-fluid" alt="Biyometrik Sistem Erişimi" title="Biyometrik Sistem Erişimi">

                                </div>  
                            <div class="media-body">
                                <h3><font>Kapıdan Alma</font></h3>
                            </div>                              
                            </div>
                        </div>
                        <div class="col">
                            <div class="media">
                                <div class="img">
                                    <img src="images/listing8.svg" class="img-fluid" alt="Biyometrik Sistem Erişimi" title="Biyometrik Sistem Erişimi">

                                </div>  
                            <div class="media-body">
                                <h3><font>7/24 Güvenlik</font></h3>
                            </div>                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image" style="height:100%">
                    <img src="images/istockphoto-1220256545-612x612.jpg" alt="Güvenli Depolama Tesisi" title="Güvenli Depolama Tesisi">
                </div>
                
            </div>
            
                <div class="whoAreUs">

                    <div class="heading">
                        <span class="span_h2">KİM KULLANMALI</span>
                    </div>
             
                	<div class="mc_slider">
                		<div class="mc_menu">
                			<img data-no="1" src="images/kimkullanmali/fazla-esyasi-az-yeri-olanlar.png" alt="Fazla Eşyası, Az Yeri Olanlar İçin Depolama Hizmeti" class="c">
                            <img data-no="2" src="images/kimkullanmali/ticaret-ve-eticaret-yapan-firmalar.png" alt="Ticaret ve E-Ticaret Yapan Firmalar İçin Depolama Hizmeti" class="">
                            <img data-no="3" src="images/kimkullanmali/kurumsal-depolama.png" alt="Kurumsal Depolama Hizmeti" class="">
                            <img data-no="4" src="images/kimkullanmali/tadilat-yaptiranlar.png" alt="Tadilat Yaptıranlar İçin Depolama Hizmeti" class="">
                            <img data-no="5" src="images/kimkullanmali/ev-degistirip-tasinanlar.png" alt="Ev Değiştirip Taşınanlar İçin Depolama Hizmeti" class="">                    		
                        </div>
                        <div class="mc_icerikler">
                            
                            <div data-no="1" class="mc_icerik c" style="display: block;">
                                <span class="span_h2">Fazla Eşyası, Az Yeri Olanlar İçin Depolama Hizmeti</span>
                                <p class="moryaziKimkucuk">Evde kullanılmayan eşyaları çok yer kaplayıp ekonomik bir depo kiralayarak daha çok yaşam alanı açmak isteyenler.</p>                        
                            </div>
                            
                            <div data-no="2" class="mc_icerik c" style="display: none;">
                                <span class="span_h2">Ticaret ve E-Ticaret Yapan Firmalar İçin Depolama Hizmeti</span>
                                <p>Lojistik işini tek elden çözmek isteyen, kısa süreli depolama yaparak mal satan ticari işletmeler ve e-ticaret girişimleri.</p>                        
                            </div>
                            
                            <div data-no="3" class="mc_icerik c" style="display: none;">
                                <span class="span_h2">Kurumsal Depolama Hizmeti</span>
                                <p>Ofisteki değerli alanı daha verimli kullanmak adına fazla ofis eşyalarını ve arşivlerini depolamak isteyen işletmeler.</p>                        
                            </div>
                            
                            <div data-no="4" class="mc_icerik c" style="display: none;">
                                <span class="span_h2">Tadilat Yaptıranlar İçin Depolama Hizmeti</span>
                                <p class="moryaziKimkucuk">Tadilat süresince hem yapılan işi hızlandırmak hem eşyalara zarar gelmeden işin bitmesini sağlamak isteyenler.</p>                        
                            </div>
                            
                            <div data-no="5" class="mc_icerik c" style="display: none;">
                                <span class="span_h2">Ev Değiştirip Taşınanlar İçin Depolama Hizmeti</span>
                                <p>Daha küçük eve taşınanlar veya kentsel dönüşüm ile evlerinden ayrılıp geri dönünceye kadar eşyalarını güvenle depolamak isteyenler.</p>                        
                            </div>
                                            					
                        </div>

                    </div>

                </div>

                <div class="owl-carousel owl-visibility owl-theme" style="z-index: 0;">
                    <div class="kk_alan">
                        <div class="heading">
                            <span class="span_h2">KİM KULLANMALI</span>
                        </div>
                        <div class="kk_gorsel"><img src="images/kimkullanmali/fazla-esyasi-az-yeri-olanlar.png" alt="Fazla Eşyası, Az Yeri Olanlar İçin Depolama Hizmeti"></div>
                        <span class="span_h2">Fazla Eşyası, Az Yeri Olanlar İçin Depolama Hizmeti</span>
                        <p class="text-white">Evde kullanılmayan eşyaları çok yer kaplayıp ekonomik bir depo kiralayarak daha çok yaşam alanı açmak isteyenler.</p>
                    </div>
                    <div class="kk_alan">
                        <div class="heading">
                            <span class="span_h2">KİM KULLANMALI</span>
                        </div>
                        <div class="kk_gorsel"><img src="images/kimkullanmali/ticaret-ve-eticaret-yapan-firmalar.png" alt="Ticaret ve E-Ticaret Yapan Firmalar İçin Depolama Hizmeti"></div>
                        <span class="span_h2">Ticaret ve E-Ticaret Yapan Firmalar İçin Depolama Hizmeti</span>
                        <p class="text-white">Lojistik işini tek elden çözmek isteyen, kısa süreli depolama yaparak mal satan ticari işletmeler ve e-ticaret girişimleri.</p>
                    </div>
                    <div class="kk_alan">
                        <div class="heading">
                            <span class="span_h2">KİM KULLANMALI</span>
                        </div>
                        <div class="kk_gorsel"><img src="images/kimkullanmali/kurumsal-depolama.png" alt="Ticaret ve E-Ticaret Yapan Firmalar İçin Depolama Hizmeti"></div>
                        <span class="span_h2">Ticaret ve E-Ticaret Yapan Firmalar İçin Depolama Hizmeti</span>
                        <p class="text-white">Lojistik işini tek elden çözmek isteyen, kısa süreli depolama yaparak mal satan ticari işletmeler ve e-ticaret girişimleri.</p>
                    </div>
                    <div class="kk_alan">
                        <div class="heading">
                            <span class="span_h2">KİM KULLANMALI</span>
                        </div>
                        <div class="kk_gorsel"><img src="images/kimkullanmali/tadilat-yaptiranlar.png" alt="Ticaret ve E-Ticaret Yapan Firmalar İçin Depolama Hizmeti"></div>
                        <span class="span_h2">Ticaret ve E-Ticaret Yapan Firmalar İçin Depolama Hizmeti</span>
                        <p class="text-white">Lojistik işini tek elden çözmek isteyen, kısa süreli depolama yaparak mal satan ticari işletmeler ve e-ticaret girişimleri.</p>
                    </div>
                    <div class="kk_alan">
                        <div class="heading">
                            <span class="span_h2">KİM KULLANMALI</span>
                        </div>
                        <div class="kk_gorsel"><img src="images/kimkullanmali/ev-degistirip-tasinanlar.png" alt="Ticaret ve E-Ticaret Yapan Firmalar İçin Depolama Hizmeti"></div>
                        <span class="span_h2">Ticaret ve E-Ticaret Yapan Firmalar İçin Depolama Hizmeti</span>
                        <p class="text-white">Lojistik işini tek elden çözmek isteyen, kısa süreli depolama yaparak mal satan ticari işletmeler ve e-ticaret girişimleri.</p>
                    </div>
                </div>

        </main>
