<main>
            <div class="container-main">
                <div class="header">
                    <h1>KURUMSAL DEPO</h1>
                </div>
                <div class="row-kurumsal-depo">
                    <div class="explanation">
                        <p>İşletmeniz genişliyor mu yoksa sadece stok fazlası mı var? Stok, ekipman ve promosyon malzemeleri veya arşiv belgeleri için alana mı ihtiyacınız var?
                             Değerli ofis veya çalışma alanını boşaltmanız mı gerekiyor? İşletmenizi yenilemek, yerini değiştirmek veya dekore etmeniz mi lazım?
                              Eşyalarınızı depolamak için bir yere ihtiyaç duymanızın onlarca nedeni olabilir.
                        </p>
                    </div>
                </div>
                <div class="row-kurumsal-depo">
                    <div class="image-sd">
                        <img src="images/paketler/services5_2.png" alt="Kurumsal Depolama"style="max-width:100%;height: auto;">
                    </div>
                    <div class="row">
                        <div class="title">
                            <h3>Güvenli İş Depolaması mı arıyorsunuz? Doğru yerdesiniz.</h3>
                        </div>
                        <div class="about">
                            <p> 
                                İster çok siteli depolamaya, ambar depolamaya ihtiyacınız olsun, ister İşletmeler için Kiralık Depolama Alanına ihtiyacınız olsun,
                                senindepon.com'da tüm gereksinimlerinize burada bir çözüm bulacaksınız. 
                                Bugün ekibimizle iletişime geçin.
                                    
                            </p>
                        </div>
                    </div>
                </div>
                <div class="details">
                    <div class="detail">
                        <div class="title">
                            <h3>Alan Sınırlaması Yok!</h3>
                        </div>
                        <div class="image-sd">
                            <img src="images/paketler/warehouse.png" alt="Süre Sınırlaması" style="width:200px;">   
                        </div>
                        <p class="about">
                            
                            100 m <sup>2</sup> den 1000 m <sup>2</sup> ye kadar her şirketin ihtiyacına uygun depolama alanları
                        </p>
                    </div>
                    <div class="detail">
                        <div class="title">
                            <h3>Süre Sınırlaması Yok!</h3>
                        </div>
                        
                        <div class="image-sd">
                            <img src="images/paketler/clock.png" alt="Süre Sınırlaması" style="width:200px;height: auto;">   
                        </div>
                        <p class="about">
                            
                            Kurumsal depolama alanlarınızda 1 aydan başlayan süreler ile siz ne kadar isterseniz o kadar süre boyunca hizmetimizden yararlanabilirsiniz.
                        </p>
                        
                        
                    </div>
                    <div class="detail">
                            <div class="title">
                                <h3>Aidat ve Sürpriz Maliyet Derdi Yok!</h3>
                            </div>
                            <div class="image-sd">
                                <img src="images/paketler/pay.png" alt="Süre Sınırlaması" style="width:200px;height: auto;">   
                            </div>
                            <p class="about">
                            
                                Her ay hizmet olarak karşınıza çıkan maliyetlere son. Tüm ek hizmet bedelleri teklif ile tarafınıza bildirilir.
                            </p>
                    </div>
                    

                </div>
                <div class="more-info">
                    <div class="row">
                        <div class="title">
                            <h3 class="mini-title wow fadeInUp mt-0 mb-4">
                                Daha fazla bilgi için lütfen iş hizmetleri ekibimizle iletişime geçin.
                            </h3>
                        </div>
                        <div class="contact">
                            <a href="tel:+905428284502"><button class="btn">ARA</button></a>
                            <a href="mailto:mengucekbaran@gmail.com"><button class="btn" >E-posta</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>