<main>
            <div class="container-main">
                <div class="header">
                    <h1>SIKÇA SORULAN SORULAR</h1>                  
                </div>
                <div class="sorular">
                    <div class="item">
                        <div data-no="1" class="item-title aktif">
                            
                            <h4>
                                <span class="icon-text">1 </span>
                                senindepon.com Nedir?
                            </h4>
                        </div>
                        <div class="item-content" style="display:block;">
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="2" class="item-title ">
                            <h4>
                                <span class="icon-text">2 </span>
                                senindepon.com eşya depolama hizmeti nasıl çalışıyor?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="3" class="item-title ">
                            <h4>
                                <span class="icon-text">3 </span>
                                Aynı anda birden fazla depolama birimi kullanabilir miyim?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="4" class="item-title ">
                            <h4>
                                <span class="icon-text">4 </span>
                                Eşyalarımı kendim getirebilir miyim.? Geri teslim alabilir miyim?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="5" class="item-title ">
                            <h4>
                                <span class="icon-text">5</span>
                                Depolayacağım eşyalarımı adresimden teslim alabiliyor musunuz?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="6" class="item-title ">
                            <h4>
                                <span class="icon-text">6 </span>
                                Getir-götür hizmet?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="7" class="item-title ">
                            <h4>
                                <span class="icon-text">7 </span>
                                Nakliye hizmetini siz mi veriyorsunuz? Aracı bir firma mı?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="8" class="item-title ">
                            <h4>
                                <span class="icon-text">8 </span>
                                Nakliye ücretleri nedir?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="9" class="item-title ">
                            <h4>
                                <span class="icon-text">9 </span>
                                Yeriniz nerede? Başka bir yerde şubeniz var mı?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="10" class="item-title ">
                            <h4>
                                <span class="icon-text">10 </span>
                                Hangi şehirlere hizmet veriyorsunuz?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="11" class="item-title ">
                            <h4>
                                <span class="icon-text">11</span>
                                İstediğim zaman kiraladığım deponun kapasitesini değiştirebilir miyim?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="12" class="item-title ">
                            <h4>
                                <span class="icon-text">12</span>
                                Nem veya küf sorunu yaşar mıyım?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="13" class="item-title ">
                            <h4>
                                <span class="icon-text">13</span>
                                Depoda eşyalarım güvende mi?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="14" class="item-title ">
                            <h4>
                                <span class="icon-text">14</span>
                                Haşereler eşyalarıma zarar verebilir mi?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="15" class="item-title ">
                            <h4>
                                <span class="icon-text">15</span>
                                Diğer depolardan farkınız nedir? Neden sizi tercih etmeliyim?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="16" class="item-title ">
                            <h4>
                                <span class="icon-text">16</span>
                                İstediğim her şeyi depolayabilir miyim? Nelerin depolanması yasaktır?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="17" class="item-title ">
                            <h4>
                                <span class="icon-text">17</span>
                                Depo alanı bana özel mi? Başkası erişebilir mi?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="18" class="item-title ">
                            <h4>
                                <span class="icon-text">18</span>
                                İstediğim zaman depoma eşya ekleyebilir miyim?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="19" class="item-title ">
                            <h4>
                                <span class="icon-text">19</span>
                                Depomdan eşya alabilir miyim?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div data-no="20" class="item-title ">
                            <h4>
                                <span class="icon-text">20</span>
                                Depo teslim alma esnasında paketleme yapılıyor mu?
                            </h4>
                        </div>
                        <div class="item-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta a cumque eum, at sint praesentium eligendi fugit dolore minus!</p>
                        </div>
                    </div>
                </div>
            </div>
           
        </main>