 <main>
            <div class="container-main">
                <div class="header">
                    <h1>Standart Depo</h1>
                    <p>125 TL + KDV / AY</p>
                </div>
                <div class="row-warehouse-pacs">
                    <div class="image-sd">
                        <img src="images/paketler/standart-depo.jpg" alt="standart depo" style="width: 345px; height: auto;margin-top: 2rem;">
                    </div>
                    <div class="explanation">
                        <h2 class="text-primary mar-v-10">Standart Depo</h2>
                        <p>Az sayıda eşyası olanlar için kolay, ucuz ve pratik depolama çözümüdür. Standart depoya<br> 1 metre uzunluğunda 1.56 veya  metre genişliğinde eşyalar sığabilmektedir.</p>
                        <div class="info-item">
                            <div class="info-content">
                                <h3 class="font-md">Standart Depo BOYUTLAR</h3>
                                <div class="row">
                                    <div class="col">Derinlik</div>
                                    <div class="col">: 2 m</div>
                                </div>
                                <div class="row">
                                    <div class="col">Genişlik</div>
                                    <div class="col">: 1.56 m</div>
                                </div>
                                <div class="row">
                                    <div class="col">Yükseklik</div>
                                    <div class="col">: 1 m</div>
                                </div>
                                <div class="row">
                                    <div class="col">Hacim</div>
                                    <div class="col">: 3.12m<sup>3</sup> </div>
                                </div>
                            </div> 
                        </div>    
                             
                    </div>
                </div>
                <div class="row-warehouse-pacs reverse-div">
                    <div class="explanation">
                        <h3 class="font-xxxlg text-primary ">NELER SIĞAR</h3>
                        <p>Standart depolama ünitesinin içine neler sığar?</p>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">YAŞAM ALANLARI</h4>
                                <p class="filigran">Yatak, dolap, kanepe gibi hacmi olan eşyalar</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">GARAJ</h4>
                                <p class="filigran">30 adet binek araç lastiği</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">MUTFAK</h4>
                                <p class="filigran">60x60x90 cm boyutlarında ve 0.32 m³ hacminde 6 adet fırın + 6 adet koli</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">GENEL</h4>
                                <p class="filigran">60x40x40 cm boyutlarında ve 0,096 m³ hacminde 25 adet koli</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">BANYO</h4>
                                <p class="filigran">60x60x90 cm boyutlarında ve 0.32 m³ hacminde 6 adet çamaşır makinesi + 6 koli</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">YEMEK ODASI</h4>
                                <p class="filigran">180x75x73 cm boyutlarında ve 0.98 m³ hacminde 6 kişilik yemek masası, 6 adet sandalye, 5 adet koli</p>
                            </div>
                        </div>
                    </div>
                    <div class="image-sd">
                        <img src="images/paketler/standart-depo.jpg" alt="standart depo" style="width: 100%; height: auto;margin-top: 4rem;">
                    </div>
                </div>
            </div>
        </main>