 <main>
            <div class="container-main">
                <div class="row-contact">
                    <div class="header">
                        <h1>ÜYE OL</h1>
                    </div>
                    <div class="form-container"style="display:flex;width:auto; justify-content: center;margin:0">
                        <form action="/users/uye-ol" method="post">
                            <div class="form-row">
                                <div class="row">
                                    <input class="form-control" type="text" id="username" name="username" placeholder="Kullanıcı adınız" required="required" data-validation-required-message="Lütfen kullanıcı adınızı girin">  
                                </div>
                                <div class="row">
                                    <input class="form-control" type="email" id="email" name="email" placeholder="Email" required="required" data-validation-required-message="Lütfen mail adresinizi girin">  
                                </div>
                                <div class="row">
                                    <input class="form-control" type="password" id="password" name="password" placeholder="Şifreniz" required="required" data-validation-required-message="Lütfen şifrenizi girin">  
                                </div>
                                  <div class="row">
                                      <button class="form-control" type="submit" id="sendLoginButton">Gönder</button>
                                  </div>
                            </div>
                        </form>
                    </div>  
                </div>
               
            </div>
        </main>