<main>
            <div class="container-main">
                <div class="header">
                    <h1>XL Depo</h1>
                    <p>275 TL + KDV / AY</p>
                </div>
                <div class="row-warehouse-pacs">
                    <div class="image-sd">
                        <img src="images/paketler/standart-depo.jpg" alt="xl depo" style="width: 345px; height: auto;margin-top: 2rem;">
                    </div>
                    <div class="explanation">
                        <h2 class="text-primary mar-v-10">XL Depo</h2>
                        <p>edepola.com en geniş hacimli depo seçeneğiyle hizmetinizde! Yoğun talep üzerine, büyük depoya sığmayan ölçülerdeki ve geniş hacimli eşyaları depolamak için en uygun depolama çözümüdür. XL depoya 2.35 metre uzunluğunda
                             veya 1.56 metre genişliğinde eşyalar sığabilmektedir.</p>
                        <div class="info-item">
                            <div class="info-content">
                                <h3 class="font-md">XL Depo BOYUTLARI</h3>
                                <div class="row">
                                    <div class="col">Derinlik</div>
                                    <div class="col">: 2 m</div>
                                </div>
                                <div class="row">
                                    <div class="col">Genişlik</div>
                                    <div class="col">: 1.56 m</div>
                                </div>
                                <div class="row">
                                    <div class="col">Yükseklik</div>
                                    <div class="col">: 2.35 m</div>
                                </div>
                                <div class="row">
                                    <div class="col">Hacim</div>
                                    <div class="col">: 7.34 m<sup>3</sup> </div>
                                </div>
                            </div> 
                        </div>    
                             
                    </div>
                </div>
                <div class="row-warehouse-pacs reverse-div">
                    <div class="explanation">
                        <h3 class="font-xxxlg text-primary ">NELER SIĞAR</h3>
                        <p>XL depolama ünitesinin içine neler sığar?</p>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">YAŞAM ALANLARI</h4>
                                <p class="filigran">Yatak, dolap, kanepe,konsol gibi hacmi olan eşyalar</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">GARAJ</h4>
                                <p class="filigran">75 adet binek araç lastiği</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">MUTFAK</h4>
                                <p class="filigran">70x65x230 cm boyutlarında ve 1.12 m³ hacminde 6 adet buzdolabı</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">GENEL</h4>
                                <p class="filigran">60x40x40 cm boyutlarında ve 0,096 m³ hacminde 70 adet koli</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">BANYO</h4>
                                <p class="filigran">60x60x90 cm boyutlarında ve 0.32 m³ hacminde 12 adet çamaşır makinesi + 10 adet koli</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="round-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="info-content">
                               <h4 class="title-area">KOLAJ</h4>
                                <p class="filigran">1 adet çamaşır makinesi + 1 adet buzdolabı
                                     + 1 adet fırın + 1 adet bulaşık makinesi + 1 adet 2 kişilik yatak + 20 adet koli sığabilir.</p>
                            </div>
                        </div>
                    </div>
                    <div class="image-sd">
                        <img src="images/paketler/standart-depo.jpg" alt="standart depo" style="width: 100%; height: auto;margin-top: 4rem;">
                    </div>
                </div>
            </div>
        </main>